* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 100px auto;
  width: 1700px;
}

.header {
  height: 100px;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    height: fit-content;
  }
  &__button {
    cursor: pointer;
    padding: 10px;
    width: 110px;
    height: auto;
    font-size: 16px;
    color: antiquewhite;
    background-color: brown;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.previews-container {
  justify-content: center;
  margin: 20px auto;
  width: 1700px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.preview {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  &__heading {
    font-size: 20px;
    position: relative;
    z-index: -1;
  }
  &__level {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    z-index: -1;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition:
      transform 0.3s,
      box-shadow 0.3s;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(250, 235, 215, 0.5);
      opacity: 0;
      transition: opacity 0.6s;
    }
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      &::after {
        opacity: 1;
      }
    }
  }
}

.preview--easy {
  border: 3px solid forestgreen;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  & .preview__level {
    color: forestgreen;
  }
}
.preview--medium {
  border: 3px solid orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  & .preview__level {
    color: orange;
  }
}
.preview--hard {
  border: 3px solid red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  & .preview__level {
    color: red;
  }
}

.preview__inner {
  border-collapse: collapse;
  width: 125px;
  height: 125px;
  margin: 10px auto;
  filter: blur(10px);
  z-index: -1;
  &__data {
    width: 6px;
    height: 6px;
  }
  &__data--filled {
    background-color: black;
  }
}
.main {
  display: flex;
  justify-content: space-between;
}

.nonogram {
  cursor: cell;
  border-collapse: collapse;
  width: 800px;
  height: 800px;
  margin: 0px auto;
  &__data {
    width: 50px;
    height: 50px;
    border: 2px solid gray;
    &--filled {
      background-color: black;
    }
    &--cross {
      position: relative;
      width: 50px;
      height: 50px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: brown;
        top: 50%;
        left: 0;
        height: 2px;
      }
      &::before {
        width: 100%;
        transform: rotate(-45deg);
      }
      &::after {
        width: 100%;
        transform: rotate(45deg);
      }
    }
  }
  &__row--block {
    border-top: 4px solid gray;
  }
  &__column--block {
    border-left: 4px solid gray;
  }
}

.left-clues {
  border-collapse: collapse;
  height: 800px;
  width: 400px;
  display: grid;
  justify-items: end;
  &__data {
    width: 53px;
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid gray;
  }
}

.left-clues-container {
  padding: 0;
}

.container {
  border-collapse: collapse;
}

.upper-clues {
  display: flex;
  width: 800px;
  &__row {
    width: 53px;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  &__data {
    min-height: 53px;
    text-align: center;
    font-size: 30px;
    border: 2px solid gray;
  }
}

.body--dark {
  background-color: #1a1a1a;
  color: white;
  & .nonogram__data--filled {
    background-color: white;
  }
  & .preview__inner__data--filled {
    background-color: white;
  }
  & .records {
    background-color: black;
    border: 1px white solid;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
  &__heading {
    margin-bottom: 20px;
    font-size: 45px;
  }
  &__text {
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__button {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
  }
  &__button:hover {
    background-color: rgba(165, 42, 42, 0.85);
  }
}

.timer {
  font-size: 40px;
  color: brown;
}

.records {
  background-color: white;
  width: 300px;
  height: fit-content;
  border: 2px solid black;
  padding: 20px;
  &__heading {
    text-align: center;
    font-size: 30px;
  }
  &__list {
    padding: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 1700px) {
  body, .previews-container, .preview {
    width: 100%;
    margin: 0 20px;
  }
  .main, .container, .nonogram {
    max-width: 100%;
  }

  .header {
    margin: 50px auto;
    width: 100%;
  }


  .header__buttons {
    flex-wrap: wrap;
  }
}

@media (max-width: 1400px) {
  .main {
    justify-content: space-evenly;
  }
  .nonogram {
    max-width: 100%;
    width: 400px;
    height: 400px;
    margin: 0;

    &__data {
      width: 25px;
      height: 25px;
    }
  }
  .left-clues {
    border-collapse: collapse;
    height: 400px;
    width: 200px;
    display: grid;
    justify-items: end;

    &__data {
      width: 26px;
    }
  }
  .upper-clues {
    display: flex;
    width: 400px;

    &__row {
      width: 26px;
    }
  }
}
